* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #18a0ac;
  background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
  background-position: right 50vw bottom 40vh, left 50vw top 40vh;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 20px rgba(8, 70, 90, 0.8);
  width: 25em;
  height: auto;
  position: relative;
}
.head-bg {
  height: 130px;
  width: 100%;
  background-image: url(bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-sec {
  margin-top: -50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  border: 5px solid white;
  border-radius: 50%;
}
.profile-sec h1 {
  font-size: 19px;
  margin: 20px 0 7px;
}
.profile-sec h1 span {
  font-weight: normal;
  color: gray;
  margin-left: 3px;
}
.profile-sec h2 {
  font-size: 19px;
  color: gray;
  font-weight: normal;
  margin: 3px 0 15px;
}
.fotter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: -40px 0 30px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0 0 0;
  align-items: center;
}
.fotter div h1 {
  font-size: 19px;
  margin-bottom: 6px;
  color: #2d3233;
}
.fotter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fotter div h2 {
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #969696;
  text-transform: uppercase; 
  margin-top: 5px;
}
@media (max-width: 600px) {
  .card {
    width: 90vw;
  }
  
}